{:prod true
 :port 3000
 :datomic-name  "jobtech-taxonomy-production-2019-12-02-1"
 :datomic-cfg {:server-type :ion
               :region "eu-central-1"
               :system "datomic-prod-v2"
               :endpoint "http://datom-loadb-ucpudqb1175l-7e29b7ad396c5feb.elb.eu-central-1.amazonaws.com:8182"
               ;; PROD FRANKFURT }
 }}
